Q1. Explain with an example each when to use a for loop and a while loop.

For loop: A for loop is a control flow statement that executes code repeatedly for a particular number of iterations. In this control flow statement, the keyword used is for. The for loop is used when the number of iterations is already known.

When to use: The for loop is used when we already know the number of iterations, which means when we know how many times a statement has to be executed. That is why we have to specify the ending point in the for loop initialization.

Once done cannot be repeated.

To be done at starting of the loop.

In [1]:
# For example
# for loop iterate through all the list and print all valuues in list
l = [1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [2]:
# We can also iterate through the string using for loop
s = "SOURABH SINGH RAWAT"
for i in s:
    print(i)

S
O
U
R
A
B
H

S
I
N
G
H

R
A
W
A
T

While loop : While loop: A loop that executes a single statement or a group of statements for the given true condition. The keyword used to represent this loop is "while". A "while" loop is used when the number of iterations is unknown.

Repeat at every iteration.

Can be done anywhere in the loop body.

In [3]:
i = 1 # for initialization
while i < 6: # condition
    print(i)
    i = i+1 # updation

1
2
3
4
5

# Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [4]:
# sum of first 10 natural number
# using while loop

In [5]:
# sum of first 10 number using while looop
num = int(input("Enter the number"))
if num < 0:
    print("Please enter the number greater thann 0")
else: 
    sum = 0
    while (num > 0):
        sum += num
        num -= 1
    print(sum)

Enter the number 10

55

In [6]:
# Product using while loop

In [7]:
num = int(input("Enter the number"))
if num < 0:
    print(" Please enter the number greater than 0")
else:
    product = 1
    while (num > 0):
        product *= num 
        num -= 1
    print("The product of first 10 number is", product)

Enter the number 10

The product of first 10 number is 3628800

In [8]:
10*9*8*7*6*5*4*3*2

3628800

In [9]:
# Another  methood
num = int(input("Enter the number"))
i = 0
product = 1
while i < num:
    i = i + 1
    product = product* i
print("The product is", product)

Enter the number 10

The product is 3628800

In [10]:
# SUM OF FIRST 10 NUMBER USING FOR LOOP

In [11]:
sum = 0
for i in range(1,11):
    sum = sum + i
print("The sum of first 10 number is", sum)

The sum of first 10 number is 55

In [12]:
l = [1,2,3,4,5,6,7,8,9,10]
total = 0
for i in l:
    total += i
    print(total)

1
3
6
10
15
21
28
36
45
55

In [13]:
# Prooduct of 10 natural nnumber using for loop

In [14]:
product = 1
for i in range(1,11):
    product = product * i
print("The product of first 10 number is", product)

The product of first 10 number is 3628800

# Q3. Create a python program to compute the electricity bill for a household.

The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.

You are required to take the units of electricity consumed in a month from the user as input.

In [15]:
# METHOD 1
# taking inputs from the user
units = int(input("Enter your units of electricity cnsumed"))
# initializing the variables
bill = 0

# for the first 100 units
if units <= 100:
    bill = units*4.5
# for the next 100 units 100 - 200
elif units >= 101 and units <= 200:
    bill = 450 + ((units - 100 ) *6)
# for the units between 200 - 300
elif units >= 201 and units <= 300:
    bill = 450 + 600 + ((units - 200) * 10)
# for the unite more than 300
else:
    bill = 450 + 600 + 1000 + ((units - 300) *20)
print("The electricity bill amount is", bill)

Enter your units of electricity cnsumed 450

The electricity bill amount is 5050

In [16]:
# METHOD 2
# Taking input from user
units = int(input("Enter the number of units consumed: "))

# Initializing variables
total_bill = 0
remaining_units = units

# For the first 100 units
if remaining_units <= 100:
    total_bill += remaining_units * 4.5
    remaining_units = 0
else:
    total_bill += 100 * 4.5
    remaining_units -= 100

# For the next 100 units
if remaining_units <= 100:
    total_bill += remaining_units * 6
    remaining_units = 0
else:
    total_bill += 100 * 6
    remaining_units -= 100

# For the next 100 units
if remaining_units <= 100:
    total_bill += remaining_units * 10
    remaining_units = 0
else:
    total_bill += 100 * 10
    remaining_units -= 100

# For units above 300
if remaining_units > 0:
    total_bill += remaining_units * 20

# Displaying the total bill
print(f"Total Electricity Bill: Rs. {total_bill:.2f}")

Enter the number of units consumed:  450

Total Electricity Bill: Rs. 5050.00

# Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

In [17]:
# CREATING A LIST OF NUMBER USING FOR LOOP
list = []
for i in range(1,101):
   list.append(i)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [18]:
list = []
i = 1
while i <= 100:
    list.append(i)
    i = i + 1
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [19]:
# ANOTHER METHOD
i = 1
while i <= 100:
    print(i, end =" ")
    i = i +1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [20]:
# CALCULLATING A CUBE OF EACH NUMBER IN FOR LOOP

In [21]:
list = []
for i in range(1,101):
   list.append(i*i*i)
print(list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744, 3375, 4096, 4913, 5832, 6859, 8000, 9261, 10648, 12167, 13824, 15625, 17576, 19683, 21952, 24389, 27000, 29791, 32768, 35937, 39304, 42875, 46656, 50653, 54872, 59319, 64000, 68921, 74088, 79507, 85184, 91125, 97336, 103823, 110592, 117649, 125000, 132651, 140608, 148877, 157464, 166375, 175616, 185193, 195112, 205379, 216000, 226981, 238328, 250047, 262144, 274625, 287496, 300763, 314432, 328509, 343000, 357911, 373248, 389017, 405224, 421875, 438976, 456533, 474552, 493039, 512000, 531441, 551368, 571787, 592704, 614125, 636056, 658503, 681472, 704969, 729000, 753571, 778688, 804357, 830584, 857375, 884736, 912673, 941192, 970299, 1000000]

# if the cube of that number is divisible by 4 or 5 then append that number in a list and print that list.

# USING FOR LOOP

In [23]:
# USING FOR LOOP
cubes = []
for i in range(1,101):
    cube = i **3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes.append(i)
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# USING WHILE LOOP

In [28]:
cubes = []
i = 1 
while i <= 100:
    cube = i **3
    if cube %4 == 0 or cube% 5 == 0:
        cubes.append(i)
    i = i + 1
print(cubes)

[2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

# Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist"

In [32]:
string = "I want to become a data scientist"
#initializing a count variable
count = 0 
# initializing a index variable
i = 0
# iteraate through the string
for i in range(len(string)):
    if (
        (string[i] == "a") or (string[i] == "e") or (string[i] == "i") or (string[i] == "o") or (string[i] == "u") 
        or (string[i] == "A") or (string[i] == "E") or (string[i] == "I") or (string[i] == "O") or (string[i] == "U")):
        count = count + 1
print("Number of vowels in given string is", count)

Number of vowels in given string is 12

In [38]:
# METHOD 2
string = "I want to become a data scientist"

# Define a function to filter vowels
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

# Call the function and print the result
num_vowels = count_vowels(string)
print("The string contains", num_vowels, "vowels.")

The string contains 12 vowels.

In [39]:
# METHOD 3
string = "I want to become a data scientist"
count = 0
vowels = ["a","e","i","o","u","A", "I","U","O","E"]
for i in range(len(string)):
    if string[i] in vowels:
        count = count +1
print("Number of vowels in given string is", count)

Number of vowels in given string is 12