<a href="https://colab.research.google.com/github/Sourabh535/PW-Skills-Python/blob/main/While_class4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1

while a<=10:
    print(a)
    a = a+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
#Sum up all the number till some point

In [ ]:
n = int(input("Enter your limit number"))
starting_point = 0
counter = 1
while counter <= n:
    starting_point = starting_point + counter
    counter = counter + 1
print(starting_point)

Enter your limit number5
15

In [ ]:
# Finding the factorial of the number

In [ ]:
num = int(input("Enter your number"))
factorial = 1
while num >0:
    factorial = factorial *num
    num = num -1
factorial

Enter your number3

6

In [ ]:
# Fibonacci series 
# using while loop
# till 5, 0, 1, 1,2,3,5,8,13

In [ ]:
from IPython.core.display import b2a_base64
user = int(input("Enter the number of element you are loooking for : "))
a = 0
b = 1
counter = 0
while counter < user:
  print(a)
  c = a+b
  a = b
  b = c
  counter = counter + 1

Enter the number of element you are loooking for : 6
0
1
1
2
3
5

In [ ]:
a = 0
b = 1
for i in range(10):
  print(a)
  c = a + b
  a = b
  b = c

0
1
1
2
3
5
8
13
21
34

In [ ]:
# reverse the string
s = "sourabh"

In [ ]:
s [::-1]

'hbaruos'

In [ ]:
# USING WHILE LOOP
word = input("Enter your word foor reversal: ")
reverse =""
length = len(word)
while length > 0:
  reverse = reverse + word[length-1]
  length = length -1
print(reverse)

Enter your word foor reversal: Sourabh
hbaruoS

In [ ]:
# Print Table of numbers
# using while loop

In [ ]:
n = int(input("Enter your number"))
i = 1
while i <= 10:
  result = n * i
  print(n, "*", i, "=", result)
  i = i+1

Enter your number5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [ ]:
# using else with while

In [ ]:
n = 5
i = 1
while i < n:
  print(i)
  i = i + 1
else:
  print("This will be excuted once yours while will completely succesfull")

1
2
3
4
This will be excuted once yours while will completely succesfull

In [ ]:
n = 5
i = 1
while i < n:
  print(i)
  if i == 3:
    break
  i = i + 1
else:
  print("This will be excuted once yours while will completely succesfull")

1
2
3

In [ ]:
#  Comprehasion operations
# list coomprehasionn

In [ ]:
# square of each number in list
l = [1,2,3,4,5,6]
l1 =[]
for i in l:
  l1.append(i**2)

In [ ]:
print(l1)

[1, 4, 9, 16, 25, 36]

In [ ]:
# using in one line

In [ ]:
[i**2 for i in l]

[1, 4, 9, 16, 25, 36]

In [ ]:
l

[1, 2, 3, 4, 5, 6]

In [ ]:
# extract the even nnumbers oonly
[i for i in l if i %2 ==0 ]

[2, 4, 6]

In [ ]:
# uppercase
l1 = ["sourahbh", "sweta", "data science"]
[i.upper() for i in l1 ]

['SOURAHBH', 'SWETA', 'DATA SCIENCE']

In [ ]:
# dictionary comprension

In [ ]:
d = {"key1":1, "key2": 2, "key3" : 3}

In [ ]:
{k:v for k ,v in d.items()}

{'key1': 1, 'key2': 2, 'key3': 3}

In [ ]:
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

In [ ]:
{k:v for k,v in d.items() if v > 1}

{'key2': 2, 'key3': 3}

In [ ]:
# FUNCTIONS

In [ ]:
  print(" THIS IS MY PRINT ")

 THIS IS MY PRINT

In [ ]:
# creatng a function
def text1():
  print("This is my first function")

In [ ]:
# to call a function
text1()

This is my first function

In [ ]:
# nonw type + string
# dont use print in def function gives none type
text1() + "sourabh"

This is my first function

TypeError: ignored

In [ ]:
def text1():
  return "This is my first function"

In [ ]:
text1()

'This is my first function'

In [ ]:
text1() + "sourabh"

'This is my first functionsourabh'

In [ ]:
def text3():
  return "sourabh", 23,45, [4,5,6]

In [ ]:
text3()

('sourabh', 23, 45, [4, 5, 6])

In [ ]:
a,b,c,d = text3()

In [ ]:
a

'sourabh'

In [ ]:
b

23

In [ ]:
c

45

In [ ]:
d

[4, 5, 6]

In [ ]:
a =1
b =4

In [ ]:
a, b = 1, 4

In [ ]:
def text4():
  a = (5+6)/7
  return a

In [ ]:
text4()

1.5714285714285714

In [ ]:
def text5(a,b,c):
  d = (a+b)/2
  a = int(input("Enter the nnumber"))
  b = int(input("Enter second number"))
  c = int(input("Enter third number"))
  return d

In [ ]:
text5(2,5,8)

Enter the nnumber2
Enter second number5
Enter third number8

3.5

In [ ]:
def text6(a,b):
  return a+b

In [ ]:
text6(5,6)

11

In [ ]:
text6("sourabh " , "rawat")

'sourabh rawat'

In [ ]:
l =[1,2,33, "sourabh" , "singh", [1,2,3.4]]

In [ ]:
# wRITE A FUCNTIONN TO TAKE OUT ALL THE INTEGERS AND CREATE A NEW LIST

In [ ]:
l1 = []
for i in l:
  if type(i) == int or type(i) == float:
    l1.append(i)

In [ ]:
l1

[1, 2, 33]

In [ ]:
def text7(l):
  l1 = []
  for i in l:
    if type(i) == int or type(i) == float:
      l1.append(i)
  return l1

In [ ]:
text7(l)

[1, 2, 33]

In [ ]:
# list inside the list
def text8(a):
  l = []
  for i in a:
    if type(i) == list:
      for j in i:
        l.append(j)
    else:
      if type(i) == int or type(i) == float:
        l.append(i)
  return l

In [ ]:
text8(l)

[1, 2, 33, 1, 2, 3.4]

In [ ]:
def text8(a):
  #This is my function to extract num data fro list///
  l = []
  for i in a:
    if type(i) == list:
      for j in i:
        l.append(j)
    else:
      if type(i) == int or type(i) == float:
        l.append(i)
  return l

In [ ]:
# any number of data be [passed]
# any number oof argument should be passed\
# data should be inside the tuple
def test10(*args):
  return args

In [ ]:
test10(1,22,3)

(1, 22, 3)

In [ ]:
def test11(*sourav):
  return sourav

In [ ]:
test11(4,56,7,8,8)

(4, 56, 7, 8, 8)

In [ ]:
def test13(*args, a):
  return args, a

In [ ]:
test13(1,2,3,4)

TypeError: ignored

In [ ]:
def test13(*args, a = 2233):
  return args, a

In [ ]:
test13(4,65,74)

((4, 65, 74), 2233)

In [ ]:
def test14(c,d,a = 23, b =1):
  return a,b,c,d

In [ ]:
test14(45,74)

(23, 1, 45, 74)

In [ ]:
# we can alse override the default value

In [ ]:
# key valuue pair
# creating the dictionnary
def test15(**kwargs):
  return kwargs

In [ ]:
test15()

{}

In [ ]:
test15(a = [1,4,5,6], b = "sudh",c =23.14)

{'a': [1, 4, 5, 6], 'b': 'sudh', 'c': 23.14}